:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scrollbar-gutter: stable;

  //color-scheme: light dark;
  //color: rgba(255, 255, 255, 0.87);
  //background-color: #242424;

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --c-def-black: #1a1b22;
  --c-black-500: #797981;
  --c-black-300: #b5b5b7;
  --c-black-100: #dde0e4;
  --c-gray: #f5f9fc;
  --c-def-white: #ffffff;
  --c-def-button: #5a9bff;
  --c-def-blue: #1d6bf3;
  --c-bg-blue: #f1f6ff;
  --c-def-bg: #fbfcff;
  --c-er-red: #ff0200;

  // Stroke
  --c-str-light: #e3ebff;
  --c-str-medium: #8dbffb;
  --c-str-dark: #242f7b;

  // Chips
  --c-ch-act-blue: #4989f9;
  --c-ch-act-purple: #b15aee;
  --c-ch-act-pink: #f25d9e;
  --c-ch-act-orange: #ff8834;
  --c-ch-act-yellow: #ffea30;
  --c-ch-act-green: #a8f55b;
  --c-ch-def-blue: #4989f940;
  --c-ch-def-purple: #b15aee40;
  --c-ch-def-pink: #f25d9e40;
  --c-ch-def-orange: #ff883440;
  --c-ch-def-yellow: #ffea3040;
  --c-ch-def-green: #a8f55b40;

  //optional
  --c-opt-green-m: #87cc9e;
  --c-opt-green: #01c843;
  --c-opt-orange: #ffce92;
  --c-opt-purple: #7f67d2;
  --c-opt-green-l: #c2e5ce;
  --c-opt-purple-l: #ccc2ed;
  --c-opt-orange-l: #ffe1bd;
  --c-opt-rose-l: #ffdde5;
  --c-opt-yellow-l: #fff9d3;
  --c-opt-pink-l: #ffbffdde;
  --c-opt-brown-l: #a9917542;
  --c-opt-blue-l: #acccff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--c-def-white);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--c-ch-act-blue);
    border-radius: 5px;
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.container {
  max-width: 1640px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1699.98px) {
    max-width: 1340px;
  }

  @media (max-width: 1399.98px) {
    max-width: 1140px;
  }

  @media (max-width: 1199.98px) {
    max-width: 960px;
  }

  @media (max-width: 991.98px) {
    max-width: 720px;
  }

  @media (max-width: 767.98px) {
    max-width: 540px;
  }

  //@media (max-width: 575.98px) {
  //}
}

a {
  text-decoration: none;
  outline-color: var(--c-str-medium);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
svg {
  display: block;
}

input,
textarea,
select,
option {
  font-family: inherit;
  font-size: 16px;
  color: var(--c-def-black);
  outline-color: var(--c-str-medium);

  &::placeholder {
    color: var(--c-black-300);
    font-size: 14px;
  }
}

.inputBlock {
  h3 {
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 400;
    color: var(--c-def-black);

    &.required::before {
      content: 'â‹';
      margin-right: 5px;
      vertical-align: middle;
      font-size: 9px;
      color: var(--c-er-red);
    }
  }

  > input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--c-str-medium);
    border-radius: 8px;

    &::placeholder {
      color: var(--c-black-300);
    }

    &.error {
      border-color: var(--c-er-red);
    }

    &:disabled {
      color: var(--c-black-500);
      border: 1px solid var(--c-black-300);
      background-color: var(--c-black-100);
      pointer-events: none;
    }
  }

  textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--c-str-medium);
    border-radius: 8px;
    resize: vertical;

    &.error {
      border-color: var(--c-er-red);
    }
  }

  .errorMessage {
    display: block;
    font-size: 13px;
    color: var(--c-er-red);
  }
}

.formInput {
  padding: 16px 10px;
  width: calc(100% - 2px);
  margin: 0 1px;
  font-size: 14px;
  color: var(--c-def-black);
  border: 1px solid var(--c-str-medium);
  border-radius: 4px;

  &::placeholder {
    color: var(--c-black-300);
  }

  &.error {
    border-color: var(--c-er-red);
  }
}
